{% load widget_tweaks %}
{% load static %}
{% include 'navegacion/navbar.html' %}

<link rel="stylesheet" href="{% static 'css/register.css' %}">

<div class="container container-form">
    <section>
        <h1>Creación de usuario especialista</h1>

        <form method="post">
            {% csrf_token %}
            
            <div class="form-group">
                {{ form.username|add_class:"form-control"|attr:"placeholder:Nombre de usuario" }}
                {% if form.username.errors %}
                    <div class="error">{{ form.username.errors }}</div>
                {% endif %}
            </div>
    
            <div class="form-group">
                {{ form.email|add_class:"form-control"|attr:"placeholder:example@user.cl" }}
                {% if form.email.errors %}
                    <div class="error">{{ form.email.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.first_name|add_class:"form-control"|attr:"placeholder:Nombre" }}
                {% if form.first_name.errors %}
                    <div class="error">{{ form.first_name.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.last_name|add_class:"form-control"|attr:"placeholder:Apellido" }}
                {% if form.last_name.errors %}
                    <div class="error">{{ form.last_name.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.rut|add_class:"form-control"|attr:"placeholder:RUT (sin puntos ni guion)" }}
                {% if form.rut.errors %}
                    <div class="error">{{ form.rut.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.password1|add_class:"form-control"|attr:"placeholder:Contraseña" }}
                {% if form.password1.errors %}
                    <div class="error">{{ form.password1.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.password2|add_class:"form-control"|attr:"placeholder:Confirmar Contraseña" }}
                {% if form.password2.errors %}
                    <div class="error">{{ form.password2.errors }}</div>
                {% endif %}
            </div>
            
            {% if form.non_field_errors %}
                <div class="error">{{ form.non_field_errors }}</div>
            {% endif %}

            <input class="buttons" type="submit" value="Crear usuario">
        </form>
    </section>
</div>

<br>
<br>
<br>
<br> 

<footer style="margin-top: 1.2rem;">
    {% include 'navegacion/footer.html' %}
</footer>